# dependencies
/node_modules
/.pnp
.pnp.js
package-*.json

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*.production
.env*.development

/_postgres_database

# typescript
*.tsbuildinfo

.idea/
.vscode/
tmp/
temp/
nodemon.txt